/*

COLORS

ECA29F -- LIGHT PINK --
518D6B -- GREEN --
E0E487 -- BRIGHT YELLOW --
56909D -- BLUE --
DE706E -- ORANGE --
FACA9B -- TAN --
D35D80 -- DARK PINK


*/

/*** SETUP ***/

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  /*background: #ECA29F;*/
  background: rgba(219, 223, 114, .8);
  color: black;
  padding: 20px;
  padding-bottom: 10vh;
  width: 100%;
  margin: 0;
  word-break: break-word;
  /***font-family: 'Nanum Gothic';***/
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  /*** font-family: 'Titillium Web'; ***/
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

.casestudy_one{
  background:#D35D80;
}

.casestudy_one .title{
  color: #E0E487;
}

.casestudy_two{
  background:#56909D;
}

.casestudy_two .title{
  color: #E0E487;
}

.casestudy_three{
  background:#518D6B;
}

.casestudy_three .title{
  color: #E0E487;
}


h1{
  font-size: 40px;
  font-weight: 600;
}

img {
    height:auto;
    align-content: center;
    /*max-width: 30%;*/
    padding-left: 40px;
    margin: 20px;

}

.image{

  max-height: 100%;
  max-width: 100%;

}

p {
    background: rgba(255, 255, 255, .8);
    padding: 10px;
}

button {
  position: absolute;
  background-color: rgba(255, 255, 255,0); /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 2.5em;
  outline: none;
  z-index: 1;

}


/*** LINKS ***/

/* unvisited link */
a:link {
  color: #DE706E;
}

/* visited */
a:visited {
  color: #DE706E;
}

/* hovering */
a:hover {
  color: #56909D;
}



/*** BLAH ***/

@media (max-width: 767.98px) {
  .main {
    max-width: none;
    padding: 20% 10%;
  }
}

.home{
  /**background: #E0E487;
  background: rgba(224, 228, 135, 1);
  background: #D0D649;
  background: #D5DB5D;
  background: #DBDF72;
  **/
  background: rgba(219, 223, 114, .8);
  padding: 20px;
}

#info-blocks{

  padding: 10px;
  align-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
}

.block{
  align-items: center;
  text-align: left;
}

/* DYNAMIC */

.about-style{
  display: none;

}



/*** Contents/Sections ***/



.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  max-width: 100%;
  top: 1100px;
}

.section{
  background-color: #ECA29F;
  padding: 10px;
  font-size: 12px;
  color: #518D6B;
  border-color: white;
  border-style: solid;
  transform: rotate(20deg);
}

.about{
  width: 250px;
  padding-top: 100px;
}


/* specific to text blocks */
.text{
  background: #ECA29F;
  padding: 20px;
  margin: 10px;
  width: 90%;
  max-width: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
  float: right;
}

.title{
  background-color: rgba(255, 255, 255, 0);
  color: #DE706E;
  border: dashed;
  border-color: white;
  font-style: bold;
  font-size: 30px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
  padding-right: 100px;
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;


}




/*
.title{
  background-color: #D35D80;
  border: solid;
  padding: 5px;
}
*/

.caselink{
  max-width: 35%;
  text-align: center;
}

.caselink a:visited{
  color: black;
}

.caselink a:link{
  color: black;
}

.caselink a:hover{
  color: #56909D;
}


.hardware-title{
  border: solid;
  border-width: 4px;
  border-color: #D35D80;
}
.interface-title{
  border: solid;
  border-width: 4px;
  border-color: #56909D;
}
.memory-title{
  border: solid;
  border-width: 4px;
  border-color: #518D6B;
}




/*** For case studies ***/

.casestudy{
  position: absolute;
  max-width: 50%;
  padding-top: 60px;
}

.label{
  position: relative;
  padding-left: 100px;
}

.outline{
  position: relative;
  max-width: 50%;
}

.linknyc{
  width: 100%;
  display: block;
  top: 50%;
  right: 10%;
  max-width: 50%;
  z-index: -1;
}

.raingarden{
  width: 100%;
  display: block;
  top: 0%;
  right: -10%;
  z-index: -1;
}


.bigbelly{
  width: 100%;
  display: block;
  top: 5%;
  left: 20%;
  z-index: -1;


}


/*** For specific 3d models ***/

.threedtitle{
  position: fixed;
  width: 100%;
  display: block;
  left: 0%;
  top: -30px;
  max-width: 30%;
  z-index: -1;
}

/*** For specific photos ***/


.satellite1{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  left: -5%;
  top: 10px;
  max-width: 20%;
  z-index: -1;
}

.satellite2{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  left: -5%;
  top: 80%;
  max-width: 40%;
  z-index: -1;
}

.satellite3{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  left: -8%;
  bottom: -5%;
  max-width: 40%;
  z-index: -1;
}

.satellite4{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  right: -5%;
  bottom: -5%;
  max-width: 20%;
  z-index: -1;
}

.satellite5{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  right: 25%;
  bottom: -5%;
  max-width: 25%;
  z-index: -1;
}

.satellite6{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  right: -5%;
  top: 30%;
  max-width: 40%;
  z-index: -1;
}

.satellite7{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  right: -1%;
  top: -1%;
  max-width: 40%;
  z-index: -1;
}

.satellite8{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.7;
  left: 20%;
  top: -5%;
  max-width: 40%;
  z-index: -1;
}

.satellite9{
  position: fixed;
  width: 100%;
  display: block;
  opacity: 0.5;
  left: 30%;
  top: 45%;
  max-width: 30%;
  z-index: -1;
}
